
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
  font-size: 20px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    font-size: 400px;
    margin: 0 auto;
  }
  
  #header {
    width: 100%;
    height: 100vh;
  
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    font-weight: bold;

  }
  
  nav {
  
    display: flex;
            align-items: center;
            justify-content: space-between;
           /* Set background color for better visibility */
            padding: 10px;
  

  }
  
  .logo {
    width: 100px; /* Adjust the width of the logo */
    height: auto;
    margin-right: 20px;
  }
    
  nav ul {
   

    list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

  }
  
  nav ul li {
    margin-right: 20px;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
  }

  
  nav a {
    
   
    font-weight: bold;
    font-size: 20px; 
  
    text-decoration: none;
            color: black; /* Set the default text color */
   
  }
  a:hover {
    color: purple; /* Set the text color on hover */
    font-weight: 2000; /* Set the default font weight */
    transition: font-weight 0.3s ease-in-out;
}

  .headertext {
    text-align: end;
    font-weight: 300;
    margin-top: 50px;
  }
  
  .headertext h1 {
    font-size: 36px;
  }
  
  .headertext span {
    color: purple; /* Adjust the color of the span */
  }
  
  .headertext h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .headertext p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  #joinNowBtn {
    padding: 15px 30px;
    font-size: 16px;
    background-color: purple; /* Adjust the color of the button */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
    margin-left: 910px;
    
  }
  
  #joinNowBtn:hover {
    background-color: purple; /* Adjust the hover color of the button */
}

/* plans */


 #plan{
  padding: 30px 0;

}
.plan-list{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 30px;
}
 .plan-list div{
  background: rgb(196, 177, 196);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;

 }

.plan-list a{
  text-decoration: none;
  
}
.container h1{
  font-size:40px;
  color: purple;
}
.container h1 i{
        color: black;
        font-size: 40px;
}
/* <!-- about gym and vibefit --> */
#about{
  padding: 80px 0;
  color: black;
  

}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-top: 10px;
}
.welcome{
  margin-top: -50px;
  color: black;
 
}

.sub-title{
  color: purple;
  margin-bottom: 20px;
  font-size: 30px;
}
.sub-title i{
  color: black;
  size: 20px;
  font-size: 30px;
}
.about-col-1{
  flex-basis: 32%;
}
.about-col-1 img{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
}
.about-col-2{
  margin-top: 2px;
  flex-basis: 32%;
 
}
.about-col-2 img{
  width: 100%;
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.about-col-3{
  flex-basis: 32%;
}
.about-col-3 img{
  width: 100%;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
color: purple;
font-weight: 500;
}
 /* contact us  */
 #contact{
  margin-top: 50px;
 }
 .contact-left{
   
  flex-basis: 35%;
  margin-top: 30px;
}
.contact-right{
  
  flex-basis: 60%;
}
contact-left p{
  margin-top: 30px;

}
contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.btn.btn2{
    
    
   
  display: inline-block;
  
margin-top: 20px;
  background: purple;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 20px;

}.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none ;
  background: rgb(192, 186, 186);
  padding: 15px;
  margin: 15px 0;
  counter-reset: #fff;
  font-size: 18px;
  border-radius: 6px;
}
 .copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(199, 185, 199);
  font-weight: 300;
  margin-top: 20px;

}
.copyright i{
  color: purple;
}
